.main-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    flex-direction: row;
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

.job-features {
    columns: 2;
    list-style-type: none;
    margin: 0; padding: 0;
}

.main-box > filter {
    order: 1;
    padding: 1em;
    flex:1;
    justify-content: flex-start;
}

.main-box > jobs {
    justify-content: flex-end;
    order: 3;
    flex: 3;
    padding: 1em;
}


.joblist {
    list-style-position: outside;
    list-style-type: none;
    padding: 1px;
    text-align: center;
    width: 90%;
}

.job {
    padding:15px;
    text-align: left;
}

.job-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    justify-content: center;
}


.filters {
    list-style-type: none;
}

select.filters{
    width: 90%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

select.filters:focus{
    outline:none;
    padding: 5px; 
    border: 2px solid black;
}

.btn-favorite{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 146, 164);
    border: none;
}  

.btn-favorite:hover{
    background-color: rgb(205, 76, 76);
} 

.btn-favorite:active{
    background-color: rgb(205, 76, 76);
}

.top-line { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-line > h3 {
    order: 1;
}

.top-line > button {
    order: 2;
}

#left-menu {
    height: 100%;
    width: 200px; /* Set the width of the menu */
    float: left; /* Float the menu to the left of the page */
    border-right: 1px solid rgb(205, 205, 205); /* Add a border to the right side of the menu */
    position: fixed; /* Add position: fixed to the menu */
    /*border-top: 1px solid rgb(205, 205, 205);*/
}

#left-menu ul {
    list-style-type: none; /* Remove bullet points from list items */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#left-menu li a {
    display: block; /* Make the links block-level elements to fill the entire list item */
    padding: 20px; /* Add some padding to the links */
    text-decoration: none; /* Remove underlines from links */
    color: #000; /* Set the text color */
    border-bottom: 1px solid #ccc; /* Add a border to the bottom of each list item */
}

#left-menu li a:hover {
    background-color: #f1f1f1; /* Change the background color on hover */
}

.job-title{
    size: 18.72 px;
    font-size: 1.17em;
    font-weight: bolder;
}


.zoom {
    transition: transform .2s; /* Animation */
  }
  
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.has-sub-menu::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 5px;
    vertical-align: middle;
}

/* Select the sub-menu items and change their color */
#left-menu .sub-menu li a {
    color: blue; /* or any other color value like #f00, rgb(255,0,0) */
}

.job-title-button{
    border: 0px;
    background-color: rgb(229, 247, 253);
    outline:none;
}

.job-title-button:focus{
    border: 0px;
    background-color: rgb(229, 247, 253);
    outline:none;
}

.job-title-button:active{
    border: 0px;
    outline:none;
    background-color: rgb(229, 247, 253);
}