.mainbox{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17%;
  width: 70%
}

.main-container {
  min-width: 100%;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.line{
    border-top: 1px solid black;
    opacity: 0.3;
    padding: 10px;
}

.bottom  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#save-form-button{
  height: 20%;
  width: 15%;
  margin: 10px;
  color: #00bfd8;
	background-color: white;
  border-color: #00bfd8;
}

#save-form-button:hover {
	background-color: #00bfd8;
  border-color: white;
  color: white;
}

#favorite {
	position: relative;
	width: 15%;
	height: 20%;
	background-color: rgb(255, 119, 119);
  border-color: white;
	opacity: 1;
}

#favorite:hover {
	background-color: white;
    border-color: rgb(255, 119, 119);
    color: rgb(255, 119, 119);
}

#application-form {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: white;
  }

  /* Tooltip container */
#tooltip {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
  
  /* Tooltip text */
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(71, 71, 71);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* right tooltip text */
    top: -5px;
    left: 105%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  #tooltip:hover #tooltiptext {
    visibility: visible;
  }

  #tooltip #tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

  .attachment { 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

.head-attach {
  order: 1;
}

.input-attach{
  order: 2;
  padding-bottom: 10px;
  padding-top: 0px;
}

.error{
  color: red; 
  padding: 10px;
}